<div class="row" ng-controller="DefinitionCalendarTimesController as dct" ng-init="init()">
	
		


	<div class="login-container" >
		<div class="hpanel panel-group">
			<div class="panel-body">
				<div class="text-center text-muted font-bold">{{'defCalTimesInfoTitle'|translate}}</div>

			</div>
			<div class="panel-section tour-4">
				<form class="form-horizontal">


					<div class="form-group">
						<label class="col-sm-4 control-label">{{'startTimeCal'|translate}}*</label>
						<div class="col-sm-8">
							<select class="form-control input-md font-light"
							ng-model="defCalendarTimes.startTime">
							<option value="0">{{'timeSelect'|translate}}</option>
							<option ng-repeat="time in timeStart">{{time}}</option>
						</select>
						</div>
					</div>


					<div class="form-group">
						<label class="col-sm-4 control-label">{{'endTimeCal'|translate}}*</label>
						<div class="col-sm-8">
							<select class="form-control input-md font-light"
							ng-model="defCalendarTimes.endTime">
							<option value="0">{{'timeSelect'|translate}}</option>
							<option ng-repeat="time in timeEnd">{{time}}</option>
						</select>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-4 control-label">{{'durationCalComment'|translate}}*</label>
						<div class="col-sm-8">
							<select class="form-control input-md font-light"
							ng-model="defCalendarTimes.duration">
							<option value="0">{{'durationSelect'|translate}}</option>
							<option ng-repeat="duration in durationPeriod">{{duration}}</option>
						</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">{{'calPeriod'|translate}}*</label>
						<div class="col-sm-8">
							<select class="form-control input-md font-light"
							ng-model="defCalendarTimes.calPeriod">
							<option value="0">{{'durationSelect'|translate}}</option>
							<option ng-repeat="calPeriod in calPeriods">{{calPeriod}}</option>
						</select>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4">
							<button type="button" class="btn btn-success btn-block"
								ng-click="createDefCalTimes()">{{'save'|translate}}</button>
						</div>
					</div>
				</form>
			</div>





		</div>
	</div>


</div>