<div class="row" ng-controller="ForgotController as uc" ng-init="init()">
	<div class="login-container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center m-b-md">
					<h3>{{'passwordRecover'|translate}}</h3>
					<small>{{'passwordRecoverTitle'|translate}}</small>
				</div>
				<div class="hpanel">
					<div class="panel-body">
						<p>{{'passwordRecoverHint'|translate}}</p>
						
							<div class="form-group">
								<label class="control-label" for="username">Email</label> <input
									type="text" placeholder="example@gmail.com"
									title="{{'registeredMail'|translate}}" required="" value=""
									ng-model="email" class="form-control"> <span
									class="help-block small">{{'registeredMail'|translate}}</span>
							</div>

							<button class="btn btn-success btn-block"
								ng-click="sendPassword()">{{'sendPassword'|translate}}</button>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<strong>{{'appName' | translate}}</strong> - {{'appNameTitle' |
				translate}} <br />{{'Version : '+version}}<br /> 2010 Copyright by
				ABASUS
			</div>
		</div>
	</div>
</div>